<!doctype html>
<html lang="ru">

    <head>
    <title>Главная</title>
    <base href="http://localhost/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
            <link rel="icon" type="image/svg+xml" href="/template/assets/images/favicon.svg">
        
    <script src="/template/assets/libs/jquery/jquery.min.js"></script>
    
    <link rel="stylesheet" href="/assets/components/minishop2/css/web/default.css?v=667ec14321" type="text/css" />
<link rel="stylesheet" href="/assets/components/minishop2/css/web/lib/jquery.jgrowl.min.css" type="text/css" />
<script>miniShop2Config = {"close_all_message":"\u0437\u0430\u043a\u0440\u044b\u0442\u044c \u0432\u0441\u0435","cssUrl":"\/assets\/components\/minishop2\/css\/web\/","jsUrl":"\/assets\/components\/minishop2\/js\/web\/","actionUrl":"\/assets\/components\/minishop2\/action.php","ctx":"web","price_format":[2,"."," "],"price_format_no_zeros":true,"weight_format":[3,"."," "],"weight_format_no_zeros":true};</script>
<link rel="stylesheet" href="/assets/components/minifyx/cache/styles_b3ff18773b.min.css" type="text/css" />
</head>    
    <body>
        <header class="header">
    Header
</header>        
    

<div class="agree " >
    <input type="hidden" name="agree" value="">

    <div class="agree__checkbox agree-click">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
        </svg>
    </div>
    
    <div class="agree__desc">
        <span class="agree-click">Отправляя форму, я соглашаюсь с</span> <a href="politic" target="_blank" class="agree-click">политикой обработки персональных данных</a>
    </div>
</div>
        <!--
<a href="https://vk.com/" target="_blank"><img src="/template/assets/images/socials/tg.svg" alt="telegram"></a>
<a href="https://vk.com/" target="_blank"><img src="/template/assets/images/socials/tg.svg" alt="whatsapp"></a>
<a href="https://vk.com/" target="_blank"><img src="/template/assets/images/socials/tg.svg" alt="youtube"></a>
<a href="https://vk.com/" target="_blank"><img src="/template/assets/images/socials/tg.svg" alt="youtube"></a>
<a href="https://vk.com/" target="_blank"><img src="/template/assets/images/socials/tg.svg" alt="vk"></a>
<a href="https://vk.com/" target="_blank"><img src="/template/assets/images/socials/tg.svg" alt="ok"></a>
-->

<footer class="footer">
    Footer
</footer>                <div style="display: none;">
    
</div>        

    <script src="/assets/components/minishop2/js/web/default.js?v=667ec14321"></script>
<script src="/assets/components/minishop2/js/web/lib/jquery.jgrowl.min.js"></script>
<script src="/assets/components/minishop2/js/web/message_settings.js"></script>
<script src="/assets/components/minifyx/cache/scripts_8e731e3d91.min.js"></script>
</body>
</html>