* {
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--clr-main);
    transition: .2s all;
    
    &:hover {
        color: var(--clr-main-hover);
    }
}